In [69]:
import pandas as pd
from datetime import datetime

In [16]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/383514/lesson_1_data.csv',
                 encoding='windows-1251', sep=';')

In [6]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [63]:
df.title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [7]:
df.shape

(292, 8)

In [17]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [19]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [22]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [25]:
df = df.rename(columns={'Номер' : "number",
                   'Дата создания' : 'create_date',
                   'Дата оплаты' : 'payment_date',
                   'Title' : 'title',
                   'Статус' : 'status',
                   'Заработано' : 'money',
                   'Город' : 'city',
                   'Платежная система' : 'payment_system'})

In [29]:
df[['title', 'status']]

                                                 title    status
0                              Курс обучения «Эксперт»  Завершен
1                              Курс обучения «Эксперт»  Завершен
2                           Курс обучения «Специалист»   Отменен
3                          Курс обучения «Консультант»   Отменен
4                              Курс обучения «Эксперт»   Отменен
..                                                 ...       ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен
288                        Курс обучения «Консультант»   Отменен
289                        Курс обучения «Консультант»  Завершен
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  Завершен
291  Курс от Школы Диетологов. Повышение квалификац...  Завершен

[292 rows x 2 columns]

In [30]:
df.status

0      Завершен
1      Завершен
2       Отменен
3       Отменен
4       Отменен
         ...
287    Завершен
288     Отменен
289    Завершен
290    Завершен
291    Завершен
Name: status, Length: 292, dtype: object

In [31]:
all_money = df.money.sum()

In [32]:
all_money

992103.5900000001

In [92]:
df \
    .groupby(['title', 'city'], as_index=False) \
    .agg({'money' : 'sum'}) \
    .sort_values('money', ascending=False)

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [55]:
money_by_city.to_csv('money_by_city.csv', index=False)

In [88]:
money_title = df \
    .query("status == 'Завершен'") \
    .groupby('title', as_index=False) \
    .agg({'money' : 'sum', 'number' : 'count'}) \
    .sort_values('money', ascending=False) \
    .rename(columns={'number' : 'success_orders'})

In [81]:
today_day = datetime.today().strftime('%Y-%m-%d')
file_name = 'money_title_{}.csv'
file_name = file_name.format(today_day)

In [83]:
if int(money_title.money.sum()) == int(all_money):
    print(f'OK! File {file_name} is written')
    money_title.to_csv(file_name, index=False)
else:
    print('Alarm!')

OK! File money_title_2021-09-09.csv is written

33311052.924535707