In [20]:
import pandas as pd

In [23]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')

In [59]:
bookings_head = bookings.head(7)

In [60]:
bookings_head

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [28]:
bookings.shape

(119390, 21)

In [91]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [50]:
def clean_col(columns):
    new_cols = []
    for column in columns:
        new_col = column.strip().lower().replace(' ', '_')
        new_cols.append(new_col)
    return(new_cols)

In [52]:
bookings.columns = bookings.columns.str.lower().str.replace(' ', '_')
bookings.columns = [i.lower().replace(' ','_') for i in bookings.columns]

In [58]:
bookings.query('is_canceled == 0')['country'].value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
FRO        1
MDG        1
ZMB        1
MRT        1
SLE        1
Name: country, Length: 165, dtype: int64

In [63]:
bookings.groupby('hotel').agg({'stays_total_nights' : 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [66]:
bookings.query('assigned_room_type != reserved_room_type').shape

(14917, 21)

In [82]:
bookings.groupby('arrival_date_year')['arrival_date_month'].describe()

                   count unique        top  freq
arrival_date_year
2015               21996      6  September  5114
2016               56707     12    October  6203
2017               40687      8        May  6313

In [88]:
bookings[['adults', 'babies', 'children']].mean()

adults      1.856403
babies      0.007949
children    0.103890
dtype: float64

In [92]:
bookings['total_kids'] = bookings['babies'] + bookings['children']

In [98]:
bookings.groupby('hotel').agg({'total_kids' : 'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [109]:
bookings['has_kids'] = bookings['total_kids'] > 0.0

In [120]:
bookings.query('has_kids == False')['is_canceled'].value_counts(normalize=True)*100

0    62.778717
1    37.221283
Name: is_canceled, dtype: float64

In [108]:
round(bookings.query('total_kids == 0.0 and is_canceled == 1').shape[0] / bookings.query('total_kids == 0.0').shape[0] * 100,2)

37.22